@model PlaylistApp.Entities.Song

@{
    ViewData["Title"] = "Create";
}

<h3 class="m-3">Create new Song</h3>

<div class="row">
    <div class="col-md-6">


        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div class="row d-flex justify-content-between">
                    <label asp-for="AlbumId" class="control-label col-md-3 p-0 pt-2 pb-2  text-center font-weight-bold"></label>
                    <select asp-for="AlbumId" class="form-control col-md-4 mr-1" asp-items="@Model.Albums">
                        <option value="">--Select a Album</option>
                    </select>
                    <a class="btn btn-success col-md-3 m-0" style="width:100%" asp-controller="Album" asp-action="Create">Create new Album</a>
                    <span asp-validation-for="AlbumId" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group">
                <div class="row">
                    <label asp-for="Title" class="control-label col-md-4 p-0 pt-2 pb-2  text-center font-weight-bold"></label>
                    <div class="col-md-8 p-0">
                        <input asp-for="Title" class="form-control p-0" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label asp-for="Duration" class="control-label col-md-4 p-0 pt-2 pb-2  text-center font-weight-bold"></label>
                    <div class="col-md-8 p-0">
                        <input asp-for="Duration" class="form-control p-0" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="btn-group">
                    <input class="btn btn-success" type="submit" value="Create" />
                    <input class="btn btn-secondary" type="submit" value="Return" asp-controller="Song" asp-action="Index" />
                </div>
            </div>

            <div class="form-group">
                <label>Albums</label>
                @Html.DropDownListFor(model =>model.AlbumId, new SelectList(Model.AlbumCollection, "Id","Title"), new { id = "chosen_select" })
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $("#chosen_select").css('background-color','yellow')
            $("#chosen_select").chosen({ width: "100%" });
        });
    </script>
 

}
